<nav class="navbar navbar-expand-md navbar-dark bg-dark py-1">
  <a [routerLink]="'/'" class="logo ml-md-4" style="text-decoration: none">
    <span style="color: white"><b>Geek </b></span>
    <span style="color: black" class="logo-orange px-1"><b style="font-weight: bolder">hub</b></span>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active ml-md-5">
        <div *ngIf="isLoggedIn" class="">
          <ul class="py-0 nav navbar-nav" style="">
            <li class="active">
              <form autocomplete="off" class="form-inline py-0">
                <input (input)="searchUser()" name="searchInput" class="form-control search-input my-0"
                       [(ngModel)]="searchInput"
                       type="text" placeholder="Search" aria-label="Search" style="width: 200px">
                <div class="list-group position-absolute" style="top: 45px; z-index: 10">
                  <div *ngFor="let user of users"
                       class="bg-lightyellow list-group-item list-group-item-action list-group-item-secondary app"
                       style="width: 200px">
                    <a [href]="'/id/' + user.id" class="color-black">
                      {{user.firstName + ' ' + user.lastName}}
                    </a>
                  </div>
                </div>
              </form>
            </li>
          </ul>
        </div>
      </li>
    </ul>

    <div *ngIf="!isLoggedIn" class="">
      <ul class="nav navbar-nav">
        <form class="form-inline" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
          <div class="form-row pt-2 pt-sm-1 pt-md-0">
            <div class="form-group col-md-5 pb-1 pb-md-0" style="">
              <input id="mailId" class="form-control" name="username" [(ngModel)]="form.username"
                     type="text" placeholder="email" aria-label="Search">
            </div>
            <div class="form-group col-md-5 pb-1 pb-md-0">
              <input id="passId" name="password" class="form-control" [(ngModel)]="form.password"
                     type="password" placeholder="password" aria-label="Search">
            </div>
            <div class="form-group col-md-2"><input class="btn border-light text-light" type="submit"
                                                    value="Sign in"></div>
          </div>
        </form>
      </ul>
    </div>
    <div *ngIf="isLoggedIn">
      <ul class="nav navbar-nav">
        <li class="mr-2 mr-md-4">
          <div class="crop">
            <img [matMenuTriggerFor]="menu" [src]="'http://localhost:8080' + loggedUser.profileImage"
                 class="rounded-circle float-right"
                 height="40px" width="40px" alt="avatar image" style="border-radius: 50% !important;">
          </div>
            <mat-menu class="mt-1" style="position: fixed; overflow: hidden;" #menu="matMenu">
              <button class="py-0" mat-menu-item>{{username}}</button>
              <mat-divider></mat-divider>
              <button class="py-0" mat-menu-item>Settings</button>
              <mat-divider></mat-divider>
              <button (click)="logOut()" class="py-0" mat-menu-item>Log Out</button>
              <mat-divider></mat-divider>
            </mat-menu>
        </li>
      </ul>
    </div>
  </div>
</nav>
