.logo-orange {
  background: #f90;
  border-radius: 5px;
}

.logo {
  font-size: 19px;
}

.login-container {
  float: right;
}

.bg-lightyellow {
  background: lightyellow;
}

.color-black {
  color: black;
}

.search-input {
  color: white;
  border-radius: 0;
  background: none;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom-color: darkgray;
  box-shadow: none;
}

.search-input:focus {
  color: white;
  border-radius: 0;
  background: none;
  border-bottom-color: darkgray;
}

.example-button-row button,
.example-button-row a {
  margin-right: 8px;
}

.avatar-image {
  height: 40px;
  width: 40px;
  border-radius: 50% !important;
  object-fit: cover;
  box-shadow: 0 0 0 0.08rem #cccdce;
}

.fade.show {
  display: block !important;
  background-color: rgba(0, 0, 0, 0.75);
}

.form-inline .form-row input.form-control {
  background-color: rgba(255, 255, 255, 0.1) !important;
  color: #fff !important;
  border: none;
  box-shadow: none !important;
}

.form-inline .form-row input.form-control::placeholder {
  color: #6c757d !important;
  font-family: Helvetica, Arial, sans-serif !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active  {
  -webkit-text-fill-color: yellow !important;
  transition: background-color 5000s ease-in-out 0s;
}
