.app-chat {
  position: absolute;
  height: 100%;
  padding-top: 48px;
}

/* Conversations List */
.conversations-container {
  z-index: 5;
  width: 160px;
  margin-right: 0;
  top: 48px;
  height: calc(100% - 48px);
  position: fixed;
}

.conversations-header {
  width: 100%;
  height: 36px;
  padding: 0;
}
.conversations-header button {
  height: 100%;
  padding: 5px 0 5px;
}

#conversations-search {
  width: 100%;
  background-color: #2d2d2d;
  padding: 0 3px 2px;
}
#conversations-search input {
  width: 100%;
  background-color: #2d2d2d;
  border: none;
  border-bottom: 1px solid #848484;
  outline: none;
  color: #e7e7e7;
}

.switch-conversations-btn:focus, .switch-conversations-btn:active {
  outline: none !important;
  box-shadow: none !important;
}

.conversations-btn-enabled {
  padding-right: 10px !important;
  text-align: right;
  border: none;
  color: #e7e7e7;
  background-color: #2d2d2d !important;
}

.conversations-btn-disabled {
  color: dimgrey;
}

.messages-settings-btn {
  border: none;
  color: #e7e7e7;
  background-color: #2d2d2d !important;

}
.single-conversation {
  position: relative;
  display: block;
  padding: 0.75rem 1.25rem;
  background-color: #2d2d2d;
  color: #e7e7e7;
  border-right: none;
  border-left: none;
  border-top: 1px solid #333333;
  border-bottom: 1px solid #333333;
}
.active-conversation {
  z-index: 2;
  color: #fff;
  background-color: #333333;
  border: none;
}

.conversations-block {
  height: calc(100% - 38px);
  overflow-y: auto !important;
  background-color: #2d2d2d;
}

.conversation-last-message-content {
  white-space: nowrap; /*keep text on one line */
  overflow: hidden; /*prevent text from being shown outside the border */
  text-overflow: ellipsis; /*cut off text with an ellipsis*/
}

/* Single Chat */


#msg-container {
  height: calc(100% - 72px);
  background-color: #333333;
  background-image: linear-gradient(to right, rgba(80, 80, 80, 0.6), rgba(66, 78, 86, 0.6));
  /*background-image: linear-gradient(to right, #464545, #3c4850);*/
  display: flex !important;
  overflow: auto;
  flex-direction: column-reverse !important;
  padding: 0 0.5rem;
  position: relative;
}

/* msg blocks */
.single-msg {
  padding: 0.25rem 0.5rem 0;
  display: inline-block;
  max-width: 65%;
  word-wrap: break-word;
  font-size: 14px;
  position: relative;
  margin-bottom: 0.4rem;
  border-radius: 0.3rem;
  -webkit-box-shadow: 4px 4px 4px -3px rgba(0,0,0,0.75);
  -moz-box-shadow: 4px 4px 4px -3px rgba(0,0,0,0.75);
  box-shadow: 4px 4px 4px -3px rgba(0,0,0,0.75);
  white-space: pre-line; /* for every \n symbol set new line */
}
/* msg text content */
.single-msg p {
  margin-bottom: 0;
  font-size: 11pt;
}
/* for message bubble */
.msg-bubble-right:before {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  border-left: 5px solid #424e56;
  border-right: 5px solid transparent;
  border-top: 5px solid #424e56;
  border-bottom: 5px solid transparent;
  right: -10px;
  top: 6px;
}
.msg-bubble-left:before {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  border-right: 5px solid #505050;
  border-left: 5px solid transparent;
  border-top: 5px solid #505050;
  border-bottom: 5px solid transparent;
  left: -10px;
  top: 6px;
}
.msg-primary {
  color: white;
  background-color: #424e56;
  left: -10px;
}

.msg-secondary {
  color: white;
  background-color: #505050;
  right: -10px;
}

.single-msg-time {
  color: darkgrey;
  font-size: 10px;
  display: inline-block;
  width: 100%;
  text-align: right;
}

#chat-container {
  height: 100%;
  background-color: #484B51;
}

#chat-header {
  position: relative;
  padding: 6px 5px 5px;
  background-color: #2d2d2d;
  /*border-bottom: 1px solid #dfdfdf;*/
}

#chat-header a.chat-header-userlink {
  color: #ffa500;
  font-family: Arial, Helvetica, sans-serif;
}

.chat-container-maximized {
  position: fixed;
  left: 160px;
  top: 48px;
  height: calc(100% - 48px);
  z-index: 100;
  /* 100% - chats list with - ads width */
  width: calc(100% - 160px - 160px);
  background: none;
  border-left: 1px solid #333333;
}

@media screen and (max-width: 928px) {
  .chat-container-maximized {
    /* 100% - chats list with */
    width: calc(100% - 160px);
  }
}

.msg-window-btn-container {
  position: absolute;
  top: 0;
  right: 0;
}

.msg-window-btn-container > button {
  color: #e7e7e7;
  padding: 0 0.9rem;
}

.msg-window-btn-container > button:hover,
.msg-window-btn-container > button:active {
  color: #e7e7e7;
}

.chat-container-minimized {
  z-index: 100;
  position: fixed;
  left: 200px;
  top: 50px;
  width: 300px;
  height: 400px;
}

.switch-chat-window-btn {
  background: none;
  border: none;
}

.switch-chat-window-btn:hover {
  background-color: #37383a !important;
}

.switch-chat-window-btn:active {
  background-color: #313134 !important;
}

button:focus, button:active {
  outline: none !important;
  box-shadow: none !important;
}

.close-chat-window-btn {
  background: none;
  border: none;
}

.close-chat-window-btn:hover {
  background-color: #e81123 !important;
}

.close-chat-window-btn:active {
  background-color: #a32a2b !important;
}

#chat-input-container {
  padding-right: 38px!important;
  /*border-top: 1px solid #dfdfdf;*/
}

#chat-input-container > textarea {
  border-color: #ffa500 !important;
}

#chat-input-container, #chat-input-container > * {
  background-color: #2d2d2d;
}

#chat-input {
  color: #e7e7e7;
  resize: none;
  height: auto;
  max-height: 100%;
  overflow: hidden;
  border: none;
}

#chat-input:focus, #chat-input:active {
  border: none;
  outline: none !important;
  box-shadow: none !important;
}

#send-msg-btn {
  position: absolute;
  bottom: 0;
  right: 5px;
  margin-right: 5px;
  height: max-content;
  color: #ffa500 !important;
  transition: all 0.2s linear;
}

#send-msg-btn:hover {
  cursor: pointer;
}

#send-msg-btn:active, #send-msg-btn:focus {
  right: 1px;
}

#chat-scroll-down-btn {
  position: absolute;
  top: -40px;
  right: 30px;
  height: 35px;
  width: 35px;
  line-height: 35px;
  border-radius: 50%;
  text-align: center;
  color: #e7e7e7;
  vertical-align: middle;
  font-size: 20px;
  transition: all 0.2s ease;
}
