<div class="conversations-container flex-column">
  <mat-menu #messagesMenu="matMenu" [overlapTrigger]="false">
    <button mat-menu-item>
      <i class="fas fa-users"></i> New group chat
    </button>
    <button mat-menu-item>
      <i class="fas fa-cog"></i> Settings
    </button>
  </mat-menu>
  <div class="conversations-header">
    <button type="button" *ngIf="msgEnabled" class="btn rounded-0 w-25 messages-settings-btn"
            [matMenuTriggerFor]="messagesMenu">
      <i class="fas fa-bars"></i>
    </button>
    <button type="button" class="btn rounded-0 switch-conversations-btn" (click)="enableOrDisableConversations()"
            [ngClass]="msgEnabled? {'conversations-btn-enabled w-75': true}: {'conversations-btn-disabled w-100' : true}">
      {{msgEnabled ? '' : 'Show chats '}}
      <i class="fas" [ngClass]="msgEnabled? 'fa-chevron-up': 'fa-chevron-down'"></i>
    </button>
  </div>
  <div id="conversations-search" *ngIf="msgEnabled">
    <input type="search" placeholder="Search...">
  </div>
  <div *ngIf="msgEnabled"
       class="conversations-block list-group">
    <div *ngFor="let conversation of conversations">
      <div *ngIf="conversation.theLastMessage" class="list-group-item py-1 rounded-0 pl-1 single-conversation"
           [ngClass]="(selectedConversation && conversation.id === selectedConversation.id? 'active-conversation':'') +
              (getNumberOfUnreadMessages(conversation) > 0 ? ' pr-4': ' pr-2')"
           (click)="selectedConversation? (selectedConversation.id !== conversation.id? openConversation(conversation): '') : openConversation(conversation)"
           style="cursor: pointer;">
        <p class="my-0">
          <strong>{{conversation.users[0].username !== loggedUser.username ?
            conversation.users[0].firstName : conversation.users[1].firstName}}
          </strong>
        </p>
        <p class="my-0 conversation-last-message-content">
          {{(conversation.theLastMessage.sender.username === loggedUser.username ? 'You: ' : '')
        + conversation.theLastMessage.content}}
          <span *ngIf="getNumberOfUnreadMessages(conversation) > 0" style="position: absolute; bottom: 7px; right: 5px;"
                [innerText]="unreadMessages.get(conversation.id)? getNumberOfUnreadMessages(conversation): ''"
                class="badge float-right"
                [ngClass]="selectedConversation && conversation.id === selectedConversation.id? {'badge-light': true} : {'badge-secondary': true}">
          </span>
        </p>
      </div>
    </div>

    <!--conversations loading spinner-->
    <div *ngIf="!conversations && msgEnabled" class="spinner-border text-primary mx-auto mt-5"
         role="status">
      <span class="sr-only">Loading...</span>
    </div>
    <!--<div>{{isMsgWindowMaximized}}</div>-->
    <!--<div style="height: 20px; margin-top: 1px; background: burlywood" *ngFor="let div of [1,2,3,4,5,6,7,8,9,1,2,3,4,5,6,7,8,9,1,2,3,4,5,6,7,8,9,1,2,3,4,5,6,7,8,9,1,2,3,4,5,6,7,8,9,1,2,3,4,5,6,7,8,9]">{{div}}</div>-->
  </div>
</div>

<div *ngIf="selectedConversation"
     [ngClass]="{'chat-container-maximized' : isMsgWindowMaximized,
     'chat-container-minimized': !isMsgWindowMaximized}"
     cdkDragBoundary="body" cdkDrag [cdkDragDisabled]="isMsgWindowMaximized" id="chat-outer-container">
  <div id="chat-container" class="pr-0 d-flex flex-column justify-content-between">
    <!--chat window header-->
    <div class="alert-light text-center rounded-0 my-0" id="chat-header" cdkDragHandle
         (dblclick)="switchMsgWindow()">
      <a [routerLink]="'/id/' + receiver.id" class="chat-header-userlink">
        {{receiver.firstName + ' ' + receiver.lastName}}
      </a>
      <div class="rounded msg-window-btn-container">
        <button class="text-center switch-chat-window-btn"
                (click)="switchMsgWindow()">
          <i class="far fa-window-restore" *ngIf="isMsgWindowMaximized"></i>
          <i class="fas fa-window-maximize" *ngIf="!isMsgWindowMaximized"></i>
        </button>
        <button class="text-center close-chat-window-btn"
                (click)="closeConversation()">
          <i class="fas fa-times"></i>
        </button>
      </div>
    </div>

    <!--container for messages list-->
    <div id="msg-container" class="mr-0" (wheel)="unreadMessages.get(selectedConversation.id) &&
    unreadMessages.get(selectedConversation.id).length > 0 ? checkIfNewMessage() : null" #msgContainer>
      <!--new messages-->
      <!--(message.id === newMessages[newMessages.length -1].id) ? checkIfNewMessage(message, singleMessage) : null-->
      <!--<div *ngIf="unreadMessages.get(selectedConversation.id)&& unreadMessages.get(selectedConversation.id).length > 0">-->
      <!--<div *ngFor="let message of unreadMessages.get(selectedConversation.id)">-->
      <!--{{message.id + ' ' + message.conversationId + ' ' + message.content + ' ' + message.constructor.name}}-->
      <!--</div>-->
      <!--</div>-->
      <div *ngIf="unreadMessages.get(selectedConversation.id)&& unreadMessages.get(selectedConversation.id).length > 0"
           id="new-messages-block">
        <div *ngFor="let message of unreadMessages.get(selectedConversation.id)" class="text-left"
             [ngStyle]="message? '':{'background-color': 'red'}"
             [id]="(message.id === unreadMessages.get(selectedConversation.id)[unreadMessages.get(selectedConversation.id).length -1].id) ? 'new-private-msg' : null">
          <div class="single-msg msg-secondary msg-bubble-left">
            <p>{{message.content}}</p>
            <span class="float-right align-text-bottom ml-1 single-msg-time">
            <!--{{message.date | date:"MMMM d, y, h:mm:ss"}}-->
              {{message.date | date:"H:mm:ss"}}
      </span>
          </div>
        </div>

      </div>
      <!--all messages-->
      <div style="display: block" *ngFor="let message of messages"
           [ngClass]="message.constructor.name === 'OutgoingMessage' || message.sender.username === loggedUser.username?
             'text-right':
             'text-left'">
        <div class="text-left single-msg"
             [ngClass]="message.constructor.name === 'OutgoingMessage' || message.sender.username === loggedUser.username?
              'msg-primary msg-bubble-right':
              'msg-secondary msg-bubble-left'">
          <p>{{message.content}}</p>
          <span class="float-right align-text-bottom ml-1 single-msg-time">
              {{message.date | date:"H:mm:ss"}}
            <i *ngIf="message.constructor.name === 'OutgoingMessage'; else notTemporaryMsg" class="fas fa-clock"></i>
              <ng-template #notTemporaryMsg>
                <i *ngIf="message.constructor.name !== 'OutgoingMessage' &&
              message.sender.username === loggedUser.username && message.unreadByUsers.length < selectedConversation.users.length - 1;
              else notChecked" class="fas fa-check-double"></i>
              </ng-template>
              <ng-template #notChecked>
                <i
                  *ngIf="message.constructor.name !== 'OutgoingMessage' && message.sender.username === loggedUser.username"
                  class="fas fa-check"></i>
              </ng-template>
            </span>
        </div>
      </div>

      <!--conversations loading spinner if array messages is not assigned-->
      <div *ngIf="conversations && !messages" class="spinner-border mx-auto mb-5" style="color: #ffa500"
           role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>

    <!--input for new message-->
    <div class="container-fluid input-group py-1 px-2" id="chat-input-container">
      <div *ngIf="messages && msgContainer.scrollHeight - msgContainer.scrollTop - msgContainer.offsetHeight > 400"
           id="chat-scroll-down-btn" class="bg-secondary"
           (click)="scrollChatToBottom()">
        <i class="fas fa-chevron-down"></i>
      </div>

      <textarea type="text" class="col border-primary rounded-0"
                placeholder="Type something..." aria-label="Type something..."
                aria-describedby="chat-input" autocomplete="off" id="chat-input"
                (keydown.enter)="sendPrivateMsg(msgInput, $event)"
                (keydown.control.enter)="goToNewLine(msgInput)"
                (keydown.escape)="closeConversation()"
                [disabled]="pendingMessages.length > 7" [(ngModel)]="privateMsg.content"
                #msgInput
                [rows]="msgInput.value.split('\n').length < 12? msgInput.value.split('\n').length : 8">
      </textarea>
      <div *ngIf="msgInput.value.length > 0" id="send-msg-btn"
           (click)="sendPrivateMsg(msgInput, $event)">
        <i class="fas fa-2x fa-angle-double-right faa-passing animated-hover"></i>
      </div>
    </div>
  </div>
</div>

