.app-chat {
  position: absolute;
  height: 100%;
  padding-top: 48px;
}

/* Conversations List */
.conversations-container {
  width: 160px;
  margin-right: 0;
}

.switch-conversations-btn:focus, .switch-conversations-btn:active {
  outline: none !important;
  box-shadow: none !important;
}

.conversations-btn-enabled {
  border-bottom: azure 1px solid !important;
}

.conversations-btn-disabled {
  color: dimgrey;
}

.conversations-block {
  height: calc(100% - 38px);
  overflow-y: auto !important;
}

/* Single Chat */

#msg-container {
  display: flex;
  flex-direction: column-reverse;
}

.single-msg {
  color: #2d2d2d;
  display: inline-block;
  max-width: 60%;
  word-wrap: break-word;
  font-size: 14px;
}

.single-msg-time {
  color: darkgrey;
  font-size: 10px;
  display: inline-block;
  margin-top: 8px;
}

.private-msg-input {

}

.chat-container-maximized {
  height: 100%;
  width: 100%;
}

.chat-container-minimized {
  position: absolute;
  left: 200px;
  top: 50px;
  z-index: 100;
  width: 400px;
  height: 400px;

}

#chat-boundary {
  position: absolute;
  width: 100%;
  height: 100%;
  background: none;
}

#chat-block-maximized {
  width: 100%;
  height: 100%;

}
