  <div class="conversations-container flex-column">
    <button type="button" class="btn rounded-0 w-100 switch-conversations-btn" (click)="switchMsg()"
            [ngClass]="msgEnabled? {'btn-primary conversations-btn-enabled': true}: {'conversations-btn-disabled' : true}">
      {{msgEnabled ? 'Hide chats ' : 'Show chats '}}
      <i class="fas" [ngClass]="msgEnabled? 'fa-chevron-up': 'fa-chevron-down'"></i>
    </button>
    <div *ngIf="msgEnabled"
         class="bg-light conversations-block list-group">
      <div *ngFor="let conversation of conversations">
        <div *ngIf="conversation.theLastMessage" class="list-group-item py-1 rounded-0"
             [ngClass]="selectedConversation && conversation.id === selectedConversation.id? 'active':''"
             (click)="selectedConversation? (selectedConversation.id !== conversation.id? onConversation(conversation): '') : onConversation(conversation)"
             style="cursor: pointer;">
          <p class="my-0">
            <strong>{{conversation.users[0].username !== loggedUsername ?
              conversation.users[0].firstName : conversation.users[1].firstName + ': '}}
            </strong>
          </p>
          <p
            class="my-0">{{(conversation.theLastMessage.sender.username === loggedUsername ? 'You: ' : '')
          + (conversation.theLastMessage.content.length > 9 ?
            conversation.theLastMessage.content.slice(0, 9) + '...' :
            conversation.theLastMessage.content)}}</p>
        </div>
      </div>

      <!--conversations loading spinner-->
      <div *ngIf="!conversations && msgEnabled" class="spinner-border text-primary mx-auto mt-5"
           role="status">
        <span class="sr-only">Loading...</span>
      </div>
      <!--<div>{{isMsgWindowMaximized}}</div>-->
      <!--<div style="height: 20px; margin-top: 1px; background: burlywood" *ngFor="let div of [1,2,3,4,5,6,7,8,9,1,2,3,4,5,6,7,8,9,1,2,3,4,5,6,7,8,9,1,2,3,4,5,6,7,8,9,1,2,3,4,5,6,7,8,9,1,2,3,4,5,6,7,8,9]">{{div}}</div>-->
    </div>
  </div>

  <div *ngIf="selectedConversation"
       [ngClass]="{'chat-container-maximized border-left' : isMsgWindowMaximized,
     'chat-container-minimized': !isMsgWindowMaximized}"
       cdkDragBoundary="body" cdkDrag [cdkDragDisabled]="isMsgWindowMaximized" id="chat-outer-container">
    <div id="chat-container" class="pr-0 d-flex flex-column justify-content-between bg-light">
      <!--chat window header-->
      <div class="alert alert-light text-center rounded-0 my-0" cdkDragHandle (dblclick)="switchMsgWindow()">
        <a [routerLink]="'/id/' + receiver.id">
          {{receiver.firstName + ' ' + receiver.lastName}}
        </a>
        <button class="btn border-0 px-2 py-0 text-center text-danger close-chat-window-btn"
                (click)="closeConversation()">
          <i class="fas fa-times"></i>
        </button>
        <button class="btn border-0 px-2 py-0 text-center text-secondary switch-chat-window-btn"
                (click)="switchMsgWindow()">
          <i class="far fa-window-restore" *ngIf="isMsgWindowMaximized"></i>
          <i class="fas fa-window-maximize" *ngIf="!isMsgWindowMaximized"></i>
        </button>
      </div>

      <!--container for messages list-->
      <div id="msg-container" class="mr-0">
        <div style="display: block" *ngFor="let message of messages"
             [ngClass]="message.constructor.name === 'OutgoingMessage' || message.sender.username === loggedUsername?
             'text-right':
             'text-left'">
          <div class="alert mb-1 py-1 px-2 text-left single-msg"
               [ngClass]="message.constructor.name === 'OutgoingMessage' || message.sender.username === loggedUsername?
              'alert-secondary mr-2':
              'alert-primary ml-2'">
            {{message.content}}
            <span class="float-right align-text-bottom ml-1 single-msg-time">
              {{message.date | date:"HH:mm:ss"}}
              <i *ngIf="message.constructor.name === 'OutgoingMessage'" class="fas fa-clock"></i>
              <i *ngIf="message.constructor.name !== 'OutgoingMessage' &&
              message.sender.username === loggedUsername && message.isRead; else notChecked" class="fas fa-check-double"></i>
              <ng-template #notChecked>
                <i *ngIf="message.constructor.name !== 'OutgoingMessage' && message.sender.username === loggedUsername" class="fas fa-check"></i>
              </ng-template>
            </span>
          </div>
        </div>

        <!--conversations loading spinner if array messages is not assigned-->
        <div *ngIf="conversations && !messages" class="spinner-border text-primary mx-auto mb-5"
             role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>

      <!--input for new message-->
      <div class="container-fluid input-group pb-1 px-2">
        <input type="text" class="col form-control" placeholder="Type something..." aria-label="Type something..."
               aria-describedby="private-msg-btn" (keydown.enter)="sendPrivateMsg(privateMsgInput)"
               id="#private-msg-input" autocomplete="off"
               [(ngModel)]="privateMsg.content" #privateMsgInput>
        <div class="input-group-append private-msg-input">
          <span class="col btn btn-primary" id="private-msg-btn" (click)="sendPrivateMsg(privateMsgInput)">Send</span>
        </div>
      </div>
    </div>
  </div>

