app-header {
  position: fixed;
  width: 100%;
  z-index: 99;
}

.content-container {
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 0;
  padding-left: 160px;
  padding-right: 160px;
  padding-top: 48px;
}
@media screen and (max-width: 928px) {
  .content-container {
    padding-right: 0 !important;
  }
}
  /*@media (min-width: 600px) and (max-width: 800px) {*/
/*html { background: red; !important;}*/
/*}*/
