app-header {
  position: fixed;
  width: 100%;
  z-index: 99;
}

.content-container {
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 0;
  padding-left: 240px;
  padding-top: 60px;
  padding-right: 320px;
}
