<p>
  password-reset works!
</p>

<div>
  <div *ngIf="!codeSent; else codeIsSent" class="row col-sm-6" style="max-width:350px;">
    <form name="form" (ngSubmit)="f.form.valid && onSubmitEmail()" #f="ngForm">
      <div class="form-group">
        <label for="username">Enter your email</label>
        <input type="text" class="form-control" name="username" [(ngModel)]="username" id="username"
               required/>
        <div *ngIf="f.submitted && f.controls['username'].invalid">
          <div *ngIf="f.controls['username'].errors.required">Username is required</div>
        </div>
      </div>
      <div class="form-group">
        <button class="btn btn-primary">Send Code</button>
      </div>
    </form>
  </div>
</div>

<ng-template #codeIsSent>
  <div>
    <form name="form" (ngSubmit)="onSubmitNewPassword()" #f="ngForm" novalidate>
      <div class="form-group">
        <label for="code">Verification code</label>
        <input type="number" class="form-control" name="code" [(ngModel)]="code" id="code"
               #codeId="ngModel" required/>
        <!--<div *ngIf="f.submitted && firstname.invalid">-->
        <!--<div *ngIf="firstname.errors.required">Name is required!</div>-->
        <!--</div>-->
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" name="password" [(ngModel)]="newPassword" id="password"
               #password="ngModel"
               required minlength="6"/>
        <!--<div *ngIf="f.submitted && password.invalid">-->
        <!--<div *ngIf="password.errors.required">Password is required</div>-->
        <!--<div *ngIf="password.errors.minlength">Password must be at least 6 characters</div>-->
        <!--</div>-->
      </div>
      <div class="form-group">
        <button class="btn btn-primary">Submit</button>
      </div>
    </form>
  </div>
</ng-template>
