<div>
  <div class="btn ml-3" [ngClass]="msgEnabled? 'btn-danger': 'btn-primary'" (click)="switchMsg()">
    {{msgEnabled ? 'Disable messages' : 'Enable messages'}}
  </div>

  <div *ngIf="conversations" class="col">
    <div class="alert alert-light text-center rounded-0">
      <a [routerLink]="'/id/' + receiver.id">
        {{receiver.firstName + ' ' + receiver.lastName}}
      </a>
    </div>
    <ul class="list-group col-2 ">
      <li *ngFor="let conversation of conversations" class="list-group-item py-1"
          [ngClass]="conversation.id === selectedConversation.id? 'active':''"
          (click)="onConversation(conversation)" style="cursor: pointer;">
        <p class="my-0"><strong>{{receiver.firstName + ': '}}</strong></p>
        <p class="my-0">{{conversation.theLastMessage.content.slice(0, 10)}}</p>
      </li>
    </ul>

    <div>
      <div *ngIf="messages">

      </div>
    </div>

  </div>

</div>
