/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~bootstrap/dist/css/bootstrap.css";

body {
  background: #000000;
  display: flex;
  flex-flow: column;
}

body, html {
  height: 100% !important;
  /*overflow-y: hidden;*/
  /*overflow-x: hidden;*/
}

.cursor-pointer {
  cursor: pointer !important;
}

.cursor-default {
  cursor: default !important;
}

.trans-05-ease {
  transition: all 0.5s ease;
}

.trans-03-ease {
  transition: all 0.3s ease;
}

.trans-01-ease {
  transition: all 0.1s ease;
}

.underline {
  text-decoration: underline;
}

.text-orange {
  color: #f90 !important;
}



.btn-orange {
  font-weight: bolder !important;
  color: #212529 !important;
  background-color: #f90 !important;
  padding-right: 1rem !important;
  padding-left: 1rem !important;
  border: none !important;
  box-shadow: none !important;
  transition: all 0.25s ease;
}

.btn-orange:hover {
  background-color: #e08a00 !important;
}

.btn-orange:active{
  background-color: #d17900 !important;
}
