<ng-template #signupForm>
  <p>
    verify works!!!
  </p>
  <!--<div class="row col-sm-6" style="max-width:350px;">-->
    <!--<form name="form" #f="ngForm" novalidate>-->
      <!--<div class="form-group">-->
        <!--<label for="code">Verification code</label>-->
        <!--<input type="number" class="form-control" name="verCode" [(ngModel)]="code" id="code"-->
               <!--#code="ngModel" required/>-->
        <!--&lt;!&ndash;<div *ngIf="f.submitted && firstname.invalid">&ndash;&gt;-->
          <!--&lt;!&ndash;<div *ngIf="firstname.errors.required">Name is required!</div>&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
      <!--</div>-->
      <!--<div class="form-group">-->
        <!--<button class="btn btn-primary">Send Code</button>-->
      <!--</div>-->
    <!--</form>-->
  <!--</div>-->
</ng-template>
