<div *ngIf="info.token; else loggedOut">
  <h5 class="text-primary">Your Info</h5>
  <p>
    <strong>Username:</strong> {{info.username}}<br>
    <strong>Roles:</strong> {{info.authorities}}<br>
    <strong>Token:</strong> {{info.token}}
  </p>
  <button class="btn btn-secondary" (click)="logout()">Logout</button>


  <div class="alert">Friends</div>
  <div class="list-group">
    <div *ngFor="let user of usersList" class="list-group-item list-group-item-action">
      <a [href]="'/id/' + user.id">{{user.lastName + ' ' + user.firstName}}</a>
    </div>
  </div>
</div>

<ng-template #loggedOut>
  Please login
</ng-template>
