<div *ngIf="info.token; else loggedOut">
  <h5 class="text-primary">Your Info</h5>
  <p>
    <strong>Username:</strong> {{info.username}}<br>
    <strong>Roles:</strong> {{info.authorities}}<br>
    <strong>Token:</strong> {{info.token}}
  </p>
  <button class="btn btn-secondary" (click)="logout()">Logout</button>


  <h3 class="alert">Users</h3>
  <div class="list-group" *ngIf="usersList; else loadingUsers">
    <div *ngFor="let user of usersList" class="list-group-item list-group-item-action">
      <a [routerLink] ="'/id/' + user.id">{{user.lastName + ' ' + user.firstName}}</a>
    </div>
  </div>
  <ng-template #loadingUsers>
    <div class="spinner-border text-primary" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </ng-template>
</div>

<ng-template #loggedOut>
  Please login
</ng-template>
