<div class="row mx-0" *ngIf="loggedUser && userHome">
  <div class="col-5 px-0 rounded-0">
    <img
      src="{{userHome.avatarUrl ? userHome.avatarUrl : 'https://us.123rf.com/450wm/tuktukdesign/tuktukdesign1606/tuktukdesign160600124/59070205-user-icon-man-profile-businessman-avatar-person-icon-in-vector-illustration.jpg?ver=6'}}"
      alt="user_avatar" class="col border rounded px-0">
    <div class="mx-auto my-1">
      <div *ngIf="loggedUser && userHome && (loggedUser.id === userHome.id)">
        <a routerLink="profile" class="btn btn-secondary" style="text-decoration: none;">Edit Profile</a>
      </div>

      <div *ngIf="loggedUser && userHome && (loggedUser.id !== userHome.id)">
        <ng-container *ngIf="checkFriend(); else notFriends">
          <button class="btn btn-danger" (click)="removeFromFriends()">Remove from friends list</button>
        </ng-container>

        <ng-template #notFriends>
          <ng-container *ngIf="checkIncomingRequests(); else ifOutgoingRequests">
            <button class="btn btn-success" style="text-decoration: none;" (click)="acceptFriendRequest()">
              Accept request
            </button>
          </ng-container>

          <ng-template #ifOutgoingRequests>
            <ng-container *ngIf="checkOutgoingRequests(); else noFriendRequests">
              <button class="btn btn-danger" style="text-decoration: none;" (click)="cancelFriendRequest()">
                Cancel request
              </button>
            </ng-container>
          </ng-template>

          <ng-template #noFriendRequests>
            <button class="btn btn-success" style="text-decoration: none;" (click)="sendFriendRequest()">
              Send friend request
            </button>
          </ng-template>
        </ng-template>

        <button class="btn my-1 btn-primary"
                style="text-decoration: none;" (click)="openPrivateMsgWindow()" [disabled]="privateMsgEnabled">
          Write Message
        </button>
      </div>

    </div>
  </div>

  <div class="col-7 card px-0" *ngIf="userHome">
    <h5 class="card-title text-center">{{userHome.firstName + ' ' + userHome.lastName}}</h5>
    <p class="card-body">
      <strong>ID: </strong>{{userHome.id}}<br>
      <strong>Gender: </strong>{{userHome.gender | titlecase}}<br>
      <strong>Birth date: </strong>{{userHome.birthDate}}
    </p>
  </div>
</div>
