<div class="row" *ngIf="loggedUser">
  <div class="col-sm-3">
    <img
      src="{{loggedUser.avatarUrl ? loggedUser.avatarUrl : 'https://us.123rf.com/450wm/tuktukdesign/tuktukdesign1606/tuktukdesign160600124/59070205-user-icon-man-profile-businessman-avatar-person-icon-in-vector-illustration.jpg?ver=6'}}"
      alt="user_avatar" class="col border rounded">
    <div class="mx-auto my-1">
      <div *ngIf="loggedUser && userHome && (loggedUser.id === userHome.id)">
        <a routerLink="profile" class="btn btn-secondary" style="text-decoration: none;">Edit Profile</a>
      </div>
      <div *ngIf="loggedUser && userHome && (loggedUser.id != userHome.id)">
        <div *ngIf="loggedUser.friends && !checkFriend()">

          <div *ngIf="loggedUser.incomingFriendRequests && checkIncomingRequests()">
            <button class="btn btn-success" style="text-decoration: none;" (click)="acceptFriendRequest()">
              Add to friends list
            </button>
          </div>

          <div *ngIf="loggedUser.outgoingFriendRequests && checkOutgoingRequests()">
            <button class="btn btn-success" style="text-decoration: none;" (click)="cancelFriendRequest()">
              Cancel request
            </button>
          </div>

          <div *ngIf="!checkIncomingRequests() && !checkOutgoingRequests()">
            <button class="btn btn-success" style="text-decoration: none;" (click)="sendFriendRequest()">
              Send friend request
            </button>
          </div>

        </div>
        <button class="btn btn-primary my-1" style="text-decoration: none;">Write Message</button>
      </div>
    </div>
  </div>

  <div class="col-sm-4 card" *ngIf="userHome">
    <h5 class="card-title text-center">{{userHome.firstName + ' ' + userHome.lastName}}</h5>
    <p class="card-body">
      <strong>ID: </strong>{{userHome.id}}<br>
      <strong>Gender: </strong>{{userHome.gender | titlecase}}<br>
      <strong>Birth date: </strong>{{userHome.birthDate}}
    </p>
  </div>
</div>
